body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b, #0ea5e9);
    color: white;
    text-align: center;
}

.hero {
    padding: 150px 20px;
}

.hero h1 {
    font-size: 50px;
}

.hero span {
    color: #38bdf8;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 14px 30px;
    background: #38bdf8;
    color: black;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: white;
    transform: scale(1.05);
}

section {
    padding: 80px 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 40px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.2);
}
